@charset "UTF-8";

body {
	background-color: #ffffff;
	color: #000000;
	padding: 0;
	border-width: 5px;
	border-style: solid;
	border-color: #339900;
	height: 0 auto;
	position: relative;
	margin: 0 auto;

	font-size: 14px;
	line-height: 1.5em;
	min-width: 700px;
	min-height: 1000px;

}

a:link {color: #006000;}
a:visited {color: #006000;}

input{
	border: 0;
	padding: 0;
	font-size: 1em;
	color: #000000;
	border: solid 1px #339900;
	margin: 0;
	width: 200px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'メイリオ';
}

textarea{
	border: 0;
	padding: 0;
	font-size: 1em;
	color: #000000;
	border: solid 1px #339900;
	margin: 0;
	width: 700px;
	height: 50px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'メイリオ';
}

select{
	font-size: 18px;
}

button{
	border: solid 1px #006600;
	padding: 2.5px;
	margin: 5px;
	font-size: 85%;
	font-color: #006600;
	text-transform: uppercase;
	font-weight: bold;
	color: #006600;
	cursor: pointer;
	background: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

button:disabled{
	border: solid 1px #006600;
	padding: 2.5px;
	margin: 5px;
	font-size: 85%;
	font-color: #006600;
	text-transform: uppercase;
	font-weight: bold;
	color: #006600;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #aaaaaa;
}


form{
	text-align: left;
}

table{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

table#user {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	border-spacing: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #66CC00;
}
table#user th {
	color: #ffffff;
	padding: 8px;
	background: #66CC00;
	font-weight: bold;
	border: 1px solid #66CC00;
}
table#user tr{
	padding: 8px;
	background: #ffffff;
	text-align: center;
}
table#user tr:nth-child(2n+1){
	padding: 8px;
	background: #ccff99;
}
table#user td{
	text-align: center;
}

table#explorer td{
	text-align: left;
}


#header {
	padding 10px 10px 0px 10px;
	width: 95%;
	min-width: 700px;
	height 0 auto;
	margin: 30px 15px 0px 15px;
}
#footer {padding: 10px; width: 100% ; clear: both;}



#menu {
	background: #339900;
	height: 25px;
	width: auto;
	min-width: 700px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#menu li {
	width: 20%;
	float: left;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 120%;
}

#menu li a {
	height: 25px;
	position: relatve;
	width: auto;
	color: #fff;
	font-weight: bold;
	padding: 10px 0;
	text-decoration: none;
	display: block;

	background: #339900;

	border-left: 1px solid #ffffff;
}

#menu li a: hover {
	background: #CCFF66;
	text-decoration: none;
	behavior: url("http://liginc.co.jp/demo/2012/06/shi_ra/PIE.htc");
}

#footer {
	padding: 10px;
	font-size: 75%;
	text-align: center;
}
#contents {
	margin: 10px;
	padding: 10px;
	font-size:18px;
	line-height: 1.5em;
	text-align: center;
}


hr {
	height: 1px;
	width: 95%;
	backGround-color: #006600;
	border-style: solid;
	border: none;
}

pre {
	font-family: 'メイリオ';
}

.errorMessage {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-weight: bold;
	color: red;
}
.error {
	color: red;
}
.explorer{
	margin: 10px;
	font-size: 90%;
}

.message{
	margin-left: 10px;
}

.message-header{
	background:#66CC00;
	color: #ffffff;
	margin: 10px;
	padding: 10px;
	height: 20px;
}
.message-title{
	padding-left: 10px;
	font-weight: bold;
	font-size: 105%;
	text-align: left;
}
.message-category{
	text-align: right;
	font-size: 90%;
}

.message-text{
	text-align: left;
	padding: 10px;
	margin: 0px 10px;
	font-size: 100%;
}
.message-footer{
	padding: 10px;
	font-size: 80%;
	text-align: right;
}
.date{
	padding-left: 10px;
}

.comment{
	margin: 5px 10px;
	padding: 5px 10px;
	background-color: #CCFF99;
	margin-left: 50px;
	border: 1px dashed;
	border-color:  #66CC00;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.message-comment{
	text-align: left;
}
.newComment{
	text-align: right;
	margin: 10px;
}
.sel{
	background: #ccff99;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.button{
	text-align: center;
}

#wrap {
	position: relative;
	margin: 0 auto;
	width 700px;
	width: 90%
	font-size: 14px;
	line-height: 1.5em;
	font-family: 'メイリオ', sans-serif;
}

fieldset{
	border: 1px solid #339900;
	background: #ccff99;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
legend{
	font-weight: bold;
	font-size: 110%;
}
li{list-style: none;}

form#signup ul li span{
    width: 17em;
    margin:0px;
    display:block;
    float:left;
    text-align: left;
    height: auto;
}
form#signup ul li label {
    margin-right: 2em;
    display: block;
    float: left;
    text-align: left;
    height: auto;
}

p.button{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.update-title{
	margin: 0 auto;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	width: 800px;
	background-color: #66cc00;
	border: 2px #66cc00 solid;
	color: #ffffff;
}

.update {
	margin: 0 auto;
	margin-top:0;
	padding: 0;
	overflow:auto;
	height: 9.5em;
	border-left:2px solid #66cc00;
	border-right:2px solid #66cc00;
	border-bottom:2px solid #66cc00;
	background-color:#ffffff;
	width: 810px;
	font-size: 75%;
	padding: 0px;
	text-align: left;
	line-height: 1.5em;
}

.update li{
	padding: 0;
}

.update a{
	padding: 0;
	text-decoration: dashed;
}


table#form {
	margin-left: auto;
	margin-right: auto;
}

table#form td:nth-child(2n+1){
	text-align: right;
}
table#form td:nth-child(2n){
	text-align: left;
}

table#post td:nth-child(2n+1){
	text-align: right;
}
table#post td:nth-child(2n){
	text-align: left;
}